<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obliterate.btspam"
    android:versionCode="4"
    android:versionName="4.4">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />

    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- WiFi Direct -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Location needed for BT + WiFi scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.wifi.direct" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="OBLITERATE"
        android:icon="@drawable/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:label="OBLITERATE"
        android:icon="@drawable/ic_launcher"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EspControlActivity"
            android:label="ESP32 Control"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".BtToolsActivity"
            android:label="BT Tools"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".NetworkActivity"
            android:label="Network Attacks"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".GpsWardriveActivity"
            android:label="GPS Wardriving"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

    </application>
</manifest>
